*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
    padding: 0;
}
ul{
   list-style: none; 
   margin: 0;
}
a{
    text-decoration: none;
}
:root{
    --mainBlue:  #25428E;
    --backgroundBlue:  #0a4cf1;
    --text: #514949;
}
img{
   display: block;
}
button{
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
body{
    font-family: 'Open Sans', sans-serif;
}
$gradient1: linear-gradient(96deg, #EA3B65 7.69%, rgba(144, 53, 199, 0.64) 93.65%);
@mixin title{
    color: #FFF;
    text-align: center;
    font-size: 46px;
    font-weight: 300;
}
@mixin btn{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

    width: 212px;
    height: 50px;
    border-radius: 5px;
    background: var(--mainBlue);
    transition: 0.3s;
    &:hover{
        background: var(--backgroundBlue)
    }
    &:active{
        transform: scale(1.1);
    }
}
.main-container {
    max-width: 1600px;
    min-width: 300px;
    margin: 0 auto;
    // background-color: aqua;
}


// header
.header {
    background: $gradient1;
}
// header__row
.header__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 14px 40px;
    border-bottom:  solid 1px  #FFF; 
}
.img__logo {
    display: inline-block;
    height: 30px;
}
.nav__ul {
    display: flex;
    align-items: center;
}
.nav__li {
    margin-right: 36px;
    &:last-child{
        margin-right: 0;
    }
}
.nav__link{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    &:hover{
        color: #031242f3;
    }
}
.nav__burger{
    cursor: pointer;
    display: none;
}
.nav__hr-1 {
    border: solid 1px #fff;
    width: 22px;
}
.nav__hr-2 {
    border: solid 1px #fff;
    width: 12px;
    margin-top: 10px;
    margin-left: 8px;
}
// header__content
.header__content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 95px;
  padding: 0 40px;
}
.headr__title {
    color: #FFF;
    text-align: center;
    font-size: 54px;
    font-weight: 300;
}
.header__text {
    color: #D2D0D0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.069px;

    margin-top: 22px;
    margin-bottom: 38px;
    max-width: 440px;
}
.btn {
    @include btn();
}
.header__img {
    margin-top: 89px;
    max-width: 492px;
}

// features
.features {
    display: grid;
    grid-template-areas: 
    "a b"
    "c d";
    justify-content: space-between;
    max-width: 1200px;
    margin: 174px auto;
    padding: 77px 150px 55px;
    row-gap: 154px;
}
.features__item-1{
    grid-area: a;
}
.features__item-2{
    grid-area: b;
}
.features__item-3{
    grid-area: c;
}
.features__item-4{
    grid-area: d;
}
.features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features__img {
    width: 74px;
    height: 74px;
}
.features__title {
    color: #000;
    text-align: center;
    font-size: 22px;
    font-weight: 700;

    margin-top: 18px;
}
.features__text {
    color: var(--text);
    text-align: center;;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.229px;
   
    margin-top: 25px;
    max-width: 278px;
}

// Pricing
.pricing {
   background: $gradient1;
}
.pricing__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 86px 20px 116px;
}
.pricing__title {
    @include title();
}
.pricing__hr {
    width: 40px;
    height: 1px;
    background: #FFF;
    margin: 28px auto 0;
}
.pricing__items {
    display: grid;
    grid-template-areas: 
    "e f i";
    align-items: center;
    justify-content: center;

    margin-top: 61px;
}
.pricing_item-1{
    grid-area: e;
}
.pricing_item-main-1{
    grid-area: f;
}
.pricing_item-2{
    grid-area: i;
}
.pricing_item {
    width: 100%;
    max-width: 390px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 1px 11px 0px rgba(43, 40, 40, 0.07);
    padding: 35px 31px 55px;
}
.pricing_item-name {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
.pricing_item-pricing {
    color: #EA3B65;
    text-align: center;
    font-size: 46px;
    font-weight: 700;

    margin-top: 13px;
}
.pricing_item-notebock {
    list-style: inside;
    margin: 26px 0 30px;
}
.pricing_item-li {
    color: var(--text);
    font-size: 16px;
    font-weight: 300;
    line-height: 26.429px;
    margin-top: 26px;
}
.pricing__button-box{
    display: flex;
    justify-content: center;
}
.pricing__item-button {
   padding: 14px 40px;
   

    color: #25428E;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

    background-color: #FFF;
    border: 1px solid var(--mainBlue);
    border-radius: 5px;
    transition: 0.3s;
    &:hover{
        color: #FFF;
        background-color: var(--backgroundBlue);
        border: #fff;
    }
    &:active{
        transform: scale(1.1);
    }
}
.pricing_item-main {
    width: 100%;
    max-width: 390px;
    border-radius: 5px;
    background: var(--mainBlue);
    box-shadow: 0px 1px 11px 0px rgba(43, 40, 40, 0.07);
    padding: 47px 31px 55px;
}
.pricing_item-name-main {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;

    color: #FFF;
}
.pricing_item-pricing-main {
    color: #EA3B65;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    margin-top: 13px;

    color: #fff;
    margin-top: 20px;
}
.pricing_item-notebock {
    list-style: inside;
    margin: 26px 0 30px;

    margin: 26px 0 35px;
}
.pricing_item-li-main {
    color: var(--text);
    font-size: 16px;
    font-weight: 300;
    line-height: 26.429px;
    margin-top: 26px;

    color: #FFF;
}

// feedback
.feedback {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "k l";
    gap: 30px;
    max-width: 1334px;
    width: 100%;
    margin: 91px auto;
    padding: 0 20px;
}
.feedback__box-1 {
    grid-area: k;
    max-width: 583px;
    width: 100%;
}
.feedback__text {
    max-width: 505px;
}
.feedback__title {
    color: #000;
    font-size: 42px;
    font-weight: 700;
}
.feedback__line{
    width: 40px;
    height: 1px;
    background-color: var(--mainBlue);
    margin: 25px auto 37px;
    display: none;
}
.feedback_subtitle {
    color: var(--text);
    font-size: 18px;
    font-weight: 400;
    line-height: 34.182px;

    margin-top: 23px;
}
.feedback__img{
    max-width: 583px;
    max-height: 296px;
    width: 100%;
   
    margin-top: 63px;
}
.feedback__box-2 {
    grid-area: l;
    width: 100%;
    max-width: 486px;
    padding: 63px 45px 48px;
    border: #969696 solid 1px;
    border-top: var(--mainBlue) solid 10px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px -1px 8px 4px rgba(88, 83, 83, 0.12);
}
.feedback__ul {
    display: grid;
    gap: 27px;
   
    input{
        width: 396px;
        background: #F6F6F6;
        padding: 20px 17px 20px;
        color: var(--text);
        border: var(--text) solid 1px;
        border-radius: 5px;

        font-size: 16px;
        font-weight: 400;
    }
    textarea{
        width: 396px;
        min-height: 143px;
        padding: 20px 28px;

        font-size: 19px;
        font-weight: 400;
    }
}
.feedback__boxBtn{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
.send {
    @include btn();
    width: 238px;
    height: 60px;
}











